{% set title = "Botorama - Главная страница" %}
{% set activePage = "Home" %}
{% extends "layout.html" %}
{% block content %}
    <section class="intro" id="home">
        <div class="container">
            <h1 class="intro__main-heading">
                        Студия для маленьких проектов 
                    </h1>
            <p class="intro__description">
                        We are fully in-house digital agency helping companies in fintech and edtech rethink their visual identity, user experience, and marketing website
                    </p>
            <div class="intro__graphics-block">
                <img src="img/intro-graphics.jpg" alt="" class="intro__graphics-block-image">
                <span class="intro__make-cool">
                            Давай делать крутое!
                        </span>
                <a href="#" class="intro__start-creating">
                            Начать творить!
                        </a>
            </div>

        </div>
    </section>
    <section class="we-are">
        <div class="container">
            <div class="we-are__content">
                <p class="we-are__leading-text">
                            Мы - <span class="marked">фрилансеры</span>, работающие для лучших<br> студий веб-дизайна по всему миру.
                        </p>
                <p class="we-are__secondary-text">
                            Поэтому держим отличные <span class="marked">цены</span>, а в портфолио<br> сотни узнаваемых работ
                        </p>

                <span class="yellow-blob"></span>
                <span class="blue-blob"></span>
                <span class="bafsy-violet"></span>
            </div>
        </div>
    </section>
    <section class="portfolio" id="portfolio">
        <div class="container">
            <h2 class="portfolio__heading">
                        Portfolio
                    </h2>

            <div class="portfolio__grid js-portfolio-masonry">
                <div class="portfolio__grid-column portfolio__grid-column--1"></div>
                <div class="portfolio__grid-column portfolio__grid-column--2"></div>
                <div class="portfolio__grid-column portfolio__grid-column--3"></div>
                <div class="portfolio__grid-item">
                    <div class="portfolio__card">
                        <img src="img/portfolio/my-hospital.jpg" alt="" class="portfolio__card-image">
                        <h5 class="portfolio__card-title">
                                    Айдентика «Моей поликлиники»
                                </h5>
                        <div class="portfolio__card-description">
                            <p> 
                                        My Polyclinics for adults and children surprise visitors accustomed to the “old fashioned” standards of service
                                    </p>
                        </div>
                        <a href="#" class="portfolio__card-link">
                                    Подробнее
                                </a>
                    </div>
                </div>
                <div class="portfolio__grid-item">
                    <div class="portfolio__card">
                        <img src="img/portfolio/fast-payments.jpg" alt="" class="portfolio__card-image">
                        <h5 class="portfolio__card-title">
                                    Сайт Системы быстрых платежей
                                </h5>
                        <div class="portfolio__card-description">
                            <p> 
                                        Система быстрых платежей — новый сервис Банка России. Он позволяет мгновенно переводить деньги
                                    </p>
                        </div>
                        <a href="#" class="portfolio__card-link">
                                    Подробнее
                                </a>
                    </div>
                </div>
                <div class="portfolio__grid-item">
                    <div class="portfolio__card">
                        <img src="img/portfolio/stoloto.jpg" alt="" class="portfolio__card-image">
                        <h5 class="portfolio__card-title">
                                    Третья версия магазина «Столото»
                                </h5>
                        <div class="portfolio__card-description">
                            <p> 
                                        У «Столото» есть собственный онлайн-магазин лотерей.
                                    </p>
                        </div>
                        <a href="#" class="portfolio__card-link">
                                    Подробнее
                                </a>
                    </div>
                </div>

                <div class="portfolio__grid-item">
                    <div class="portfolio__card">
                        <img src="img/portfolio/umbrella.jpg" alt="" class="portfolio__card-image">
                        <h5 class="portfolio__card-title">
                                    «Амбрелла Ай-ти»
                                </h5>
                        <div class="portfolio__card-description">
                            <p> 
                                        Это серьезная компания, работающая с крупными клиентами по всему миру.
                                    </p>
                        </div>
                        <a href="#" class="portfolio__card-link">
                                    Подробнее
                                </a>
                    </div>
                </div>

                <div class="portfolio__grid-item">
                    <div class="portfolio__card">
                        <img src="img/portfolio/tutor.jpg" alt="" class="portfolio__card-image">
                        <h5 class="portfolio__card-title">
                                    Сайт «Тьютор»
                                </h5>
                        <div class="portfolio__card-description">
                            <p> 
                                        «Тьютор» — образовательный сайт с различными направлениями обучения.
                                    </p>
                        </div>
                        <a href="#" class="portfolio__card-link">
                                    Подробнее
                                </a>
                    </div>
                </div>
                <div class="portfolio__grid-item">
                    <div class="portfolio__card">
                        <img src="img/portfolio/stoloto-interface.jpg" alt="" class="portfolio__card-image">
                        <h5 class="portfolio__card-title">
                                    Интерфейс новогоднего проекта для «Столото»
                                </h5>
                        <div class="portfolio__card-description">
                            <p> 
                                        Фасад украсила огромная буква М, окаймленная стетоскопом.
                                        Это было красиво.
                                    </p>
                        </div>
                        <a href="#" class="portfolio__card-link">
                                    Подробнее
                                </a>
                    </div>
                </div>

                <div class="portfolio__grid-item">
                    <div class="portfolio__card">
                        <img src="img/portfolio/my-hospital.jpg" alt="" class="portfolio__card-image">
                        <h5 class="portfolio__card-title">
                                    Айдентика «Моей поликлиники»
                                </h5>
                        <div class="portfolio__card-description">
                            <p> 
                                        My Polyclinics for adults and children surprise visitors accustomed to the “old fashioned” standards of service
                                    </p>
                        </div>
                        <a href="#" class="portfolio__card-link">
                                    Подробнее
                                </a>
                    </div>
                </div>
                <div class="portfolio__grid-item">
                    <div class="portfolio__card">
                        <img src="img/portfolio/fast-payments.jpg" alt="" class="portfolio__card-image">
                        <h5 class="portfolio__card-title">
                                    Сайт Системы быстрых платежей
                                </h5>
                        <div class="portfolio__card-description">
                            <p> 
                                        Система быстрых платежей — новый сервис Банка России. Он позволяет мгновенно переводить деньги
                                    </p>
                        </div>
                        <a href="#" class="portfolio__card-link">
                                    Подробнее
                                </a>
                    </div>
                </div>
                <div class="portfolio__grid-item">
                    <div class="portfolio__card">
                        <img src="img/portfolio/stoloto.jpg" alt="" class="portfolio__card-image">
                        <h5 class="portfolio__card-title">
                                    Третья версия магазина «Столото»
                                </h5>
                        <div class="portfolio__card-description">
                            <p> 
                                        У «Столото» есть собственный онлайн-магазин лотерей.
                                    </p>
                        </div>
                        <a href="#" class="portfolio__card-link">
                                    Подробнее
                                </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="what-to-order">
        <div class="container">
            <div class="what-to-order__content">
                <img src="img/what-to-order-stars.svg" alt="" class="what-to-order__stars">
                <img src="img/monitor.svg" alt="" class="what-to-order__monitor">
                <div class="what-to-order__top-block">
                    <img src="img/bafsy-straight.svg" width="60" alt="" class="what-to-order__logo">
                    <h2 class="what-to-order__heading">
                            Что бы у нас заказать?
                            </h2>
                </div>
                <div class="what-to-order__bottom-block">
                    <p class="what-to-order__text">
                                Конечно, сайт и все, чтобы прокачать этот сайт!
                            </p>
                </div>
            </div>
        </div>
    </section>
    <section class="calculator js-calculator" id="calculator">
        <div class="container">
            <h2 class="calculator__heading">
                        Калькулятор цен
                    </h2>
            <p class="calculator__subtext">
                        Что бы у нас заказать? Конечно, сайт и все, чтобы прокачать этот сайт!
                    </p>
            <div class="calculator__content">
                <div class="calculator__row">
                    <div class="calculator__left-column">
                        <div class="calculator__selection-groups">
                            <div class="calculator__selection-group">
                                <a href="#" class="calculator__selection-group-btn">
                                    <span class="calculator__selection-group-btn-text">
                                                Мне нужен сайт!
                                            </span>
                                    <span class="calculator__selection-group-btn-action">
                                        <span class="calculator__selection-group-btn-action-text">
                                            Добавить
                                            </span>
                                        <span class="calculator__selection-group-btn-cross"></span>
                                    </span>
                                </a>
                                <div class="calculator__selection-group-content">
                                    <label class="calculator__selection-checkbox">
                                        <input type="radio" name="need-website" value="1" class="calculator__selection-checkbox-input" checked>
                                        <span class="calculator__selection-checkbox-mark"></span>
                                        <span class="calculator__selection-checkbox-text">
                                                    Чтобы был <span class="calculator__selection-checkbox-text-blue">(+100 000 руб)</span>
                                        </span>
                                    </label>
                                    <label class="calculator__selection-checkbox">
                                        <input type="radio" name="need-website" value="2" class="calculator__selection-checkbox-input">
                                        <span class="calculator__selection-checkbox-mark"></span>
                                        <span class="calculator__selection-checkbox-text">
                                                    Чтобы продавать <span class="calculator__selection-checkbox-text-blue">(+250 000 руб)</span>
                                        </span>
                                    </label>
                                    <label class="calculator__selection-checkbox">
                                        <input type="radio" name="need-website" value="3" class="calculator__selection-checkbox-input">
                                        <span class="calculator__selection-checkbox-mark"></span>
                                        <span class="calculator__selection-checkbox-text">
                                                    Чтобы все завидовали <span class="calculator__selection-checkbox-text-blue">(+450 000 руб)</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="calculator__selection-group">
                                <a href="#" class="calculator__selection-group-btn">
                                    <span class="calculator__selection-group-btn-text">
                                                Мне нужны посетители и продажи!
                                            </span>
                                    <span class="calculator__selection-group-btn-action">
                                        <span class="calculator__selection-group-btn-action-text">
                                            Добавить
                                            </span>
                                        <span class="calculator__selection-group-btn-cross"></span>
                                    </span>
                                </a>
                                <div class="calculator__selection-group-content">
                                    <label class="calculator__selection-checkbox">
                                        <input type="radio" name="need-audience" value="1" class="calculator__selection-checkbox-input" checked>
                                        <span class="calculator__selection-checkbox-mark"></span>
                                        <span class="calculator__selection-checkbox-text">
                                                    Чтобы был <span class="calculator__selection-checkbox-text-blue">(+100 000 руб)</span>
                                        </span>
                                    </label>
                                    <label class="calculator__selection-checkbox">
                                        <input type="radio" name="need-audience" value="2" class="calculator__selection-checkbox-input">
                                        <span class="calculator__selection-checkbox-mark"></span>
                                        <span class="calculator__selection-checkbox-text">
                                                    Чтобы продавать <span class="calculator__selection-checkbox-text-blue">(+250 000 руб)</span>
                                        </span>
                                    </label>
                                    <label class="calculator__selection-checkbox">
                                        <input type="radio" name="need-audience" value="3" class="calculator__selection-checkbox-input">
                                        <span class="calculator__selection-checkbox-mark"></span>
                                        <span class="calculator__selection-checkbox-text">
                                                    Чтобы все завидовали <span class="calculator__selection-checkbox-text-blue">(+450 000 руб)</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="calculator__selection-group">
                                <a href="#" class="calculator__selection-group-btn">
                                    <span class="calculator__selection-group-btn-text">
                                                Мне нужен совет!
                                            </span>
                                    <span class="calculator__selection-group-btn-action">
                                        <span class="calculator__selection-group-btn-action-text">
                                            Добавить
                                            </span>
                                        <span class="calculator__selection-group-btn-cross"></span>
                                    </span>
                                </a>
                                <div class="calculator__selection-group-content">
                                    <label class="calculator__selection-checkbox">
                                        <input type="radio" name="need-advice" value="1" class="calculator__selection-checkbox-input" checked>
                                        <span class="calculator__selection-checkbox-mark"></span>
                                        <span class="calculator__selection-checkbox-text">
                                                    Чтобы был <span class="calculator__selection-checkbox-text-blue">(+100 000 руб)</span>
                                        </span>
                                    </label>
                                    <label class="calculator__selection-checkbox">
                                        <input type="radio" name="need-advice" value="2" class="calculator__selection-checkbox-input">
                                        <span class="calculator__selection-checkbox-mark"></span>
                                        <span class="calculator__selection-checkbox-text">
                                                    Чтобы продавать <span class="calculator__selection-checkbox-text-blue">(+250 000 руб)</span>
                                        </span>
                                    </label>
                                    <label class="calculator__selection-checkbox">
                                        <input type="radio" name="need-advice" value="3" class="calculator__selection-checkbox-input">
                                        <span class="calculator__selection-checkbox-mark"></span>
                                        <span class="calculator__selection-checkbox-text">
                                                    Чтобы все завидовали <span class="calculator__selection-checkbox-text-blue">(+450 000 руб)</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="calculator__selection-group">
                                <a href="#" class="calculator__selection-group-btn">
                                    <span class="calculator__selection-group-btn-text">
                                                Мне нужна красота!
                                            </span>
                                    <span class="calculator__selection-group-btn-action">
                                        <span class="calculator__selection-group-btn-action-text">
                                            Добавить
                                            </span>
                                        <span class="calculator__selection-group-btn-cross"></span>
                                    </span>
                                </a>
                                <div class="calculator__selection-group-content">
                                    <label class="calculator__selection-checkbox">
                                        <input type="radio" name="need-beauty" value="1" class="calculator__selection-checkbox-input" checked>
                                        <span class="calculator__selection-checkbox-mark"></span>
                                        <span class="calculator__selection-checkbox-text">
                                                    Чтобы был <span class="calculator__selection-checkbox-text-blue">(+100 000 руб)</span>
                                        </span>
                                    </label>
                                    <label class="calculator__selection-checkbox">
                                        <input type="radio" name="need-beauty" value="2" class="calculator__selection-checkbox-input">
                                        <span class="calculator__selection-checkbox-mark"></span>
                                        <span class="calculator__selection-checkbox-text">
                                                    Чтобы продавать <span class="calculator__selection-checkbox-text-blue">(+250 000 руб)</span>
                                        </span>
                                    </label>
                                    <label class="calculator__selection-checkbox">
                                        <input type="radio" name="need-beauty" value="3" class="calculator__selection-checkbox-input">
                                        <span class="calculator__selection-checkbox-mark"></span>
                                        <span class="calculator__selection-checkbox-text">
                                                    Чтобы все завидовали <span class="calculator__selection-checkbox-text-blue">(+450 000 руб)</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="calculator__right-column">
                        <div class="calculator__price-block">
                            <div class="calculator__starting-price-text">
                                        Итого от
                                    </div>

                            <div class="calculator__price-amount">
                                        50600₽
                                    </div>
                            <a href="#" class="calculator__contact-btn">
                                        Связаться
                                    </a>

                            <div class="calculator__have-questions">
                                        Остались вопросы?
                                        <a href="#" class="calculator__have-questions-link">
                                            Свяжитесь с нами
                                        </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="marketing">
        <div class="container">
            <div class="marketing__row">
                <div class="marketing__left-column">
                    <p class="marketing__white-text">
                                Микро сайты, виджеты, баннеры, опросы, чат-боты,<br> корпоративные игры,<br> викторины
                            </p>
                </div>
                <svg width="45" height="45" aria-hidden="true" class="icon-bafsy-logo">
                    <use xlink:href="#bafsy-logo"/>
                </svg>
                <div class="marketing__right-column">
                    <p class="marketing__yellow-text">
                                все, что сделает ваш маркетинг просто огненным
                            </p>
                </div>
            </div>
        </div>
    </section>
    <section class="how-we-work">
        <div class="container">
            <h2 class="how-we-work__heading">
                        Как мы работаем
                    </h2>
            <div class="how-we-work__row">
                <div class="how-we-work__column">
                    <p class="how-we-work__we-do">
                                Мы используем
                            </p>
                    <img src="img/bafsy.jpg" alt="" class="how-we-work__image">
                    <p class="how-we-work__name">
                                Корпоративный конструктор<br>
                                цифровых коммуникаций
                            </p>
                    <a href="#" class="how-we-work__learn-more-link">
                        <span class="how-we-work__learn-more-link-text">
                                Узнать больше
                            </span>
                        <svg width="16" height="16" aria-hidden="true" class="icon-link">
                            <use xlink:href="#link"/>
                        </svg>
                    </a>
                </div>
                <div class="how-we-work__column">
                    <p class="how-we-work__we-do">
                                Мы сотрудничаем с
                            </p>
                    <img src="img/void.svg" alt="" class="how-we-work__image">
                    <p class="how-we-work__name">
                                Студия веб-разработки<br>
                                и дизайна
                            </p>
                    <a href="#" class="how-we-work__learn-more-link">
                        <span class="how-we-work__learn-more-link-text">
                                    Узнать больше
                                </span>
                        <svg width="16" height="16" aria-hidden="true" class="icon-link">
                            <use xlink:href="#link"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="callback">
        <div class="container">
            <div class="callback__row">
                <div class="callback__left-column">
                    <h2 class="callback__heading">
                                Заказать обратный звонок
                            </h2>
                    <form action="/" method="POST" class="callback__form" data-parsley-validate>
                        <label class="callback__form-group">
                            <span class="callback__form-label-text">
                                        Имя
                                    </span>
                            <input type="text" class="callback__form-input" placeholder="Ваше имя" required>
                        </label>
                        <label class="callback__form-group">
                            <span class="callback__form-label-text">
                                        Номер телефона
                                    </span>
                            <input type="tel" class="callback__form-input js-phone-input" placeholder="Мы перезвоним по этому номеру" required data-parsley-phone="">
                        </label>
                        <label class="callback__form-group">
                            <span class="callback__form-label-text">
                                        Email
                                    </span>
                            <input type="email" class="callback__form-input" placeholder="Адрес электронной почты" required>
                        </label>
                        <button type="submit" class="callback__form-submit">
                                    Отправить
                                </button>
                    </form>
                </div>
                <div class="callback__right-column">
                    <img src="img/callback.png" alt="" class="callback__image" width="620">
                </div>
            </div>
        </div>
    </section>
{% endblock %}