.marketing {
    background-color: var(--violet);
    color: white;
    position: relative;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url('../img/marketing-bg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        opacity: .5;
    }
}


.marketing__row {
    display: flex;
    align-items: center;
    padding: 10.6rem 0;
   
    .icon-bafsy-logo {
        fill: var(--yellow);
        flex-shrink: 0;
        width: 4.5rem;
        height: 4.5rem;
        margin: 0 3rem;
        @include breakpoint(small-mobile) {
            display: none;
        }
    }


    @include breakpoint(small-mobile) {
        flex-direction: column;
        align-items: initial;
        padding: 3.4rem 0; 
    }
}


.marketing__left-column,
.marketing__right-column {
    width: 50%;
    flex-grow: 1;
    @include breakpoint(small-mobile) {
        width: 100%;
        flex-grow: 0;
    }
}


.marketing__white-text {
    font-family: var(--source-pro);
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 1.2;
    text-align: right;
    letter-spacing: 0.05em;
    @include breakpoint(small-mobile) {
        text-align: left;
        font-size: 3rem;
        line-height: 1.6;
    }
}


.marketing__yellow-text {
    font-family: var(--source-pro);
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 1.8;
    color: var(--yellow);
    text-align: left;
    letter-spacing: 0.05em;
    @include breakpoint(small-mobile) {
        text-align: left;
        font-size: 3rem;
        line-height: 1.6;
    }
}